{% extends 'base.html' %} {% block title %}Welcome to TimberCrops{% endblock %}
{% block content %}

<h1>Welcome to TimberCrops</h1>
<p>This is your crop optimization tool for the Timberborn game.</p>

<br />

<!-- home.html -->
<form method="post">
  {% csrf_token %}
  <table class="styled-table" style="width: 400px">
    <tr>
      <th>Game Mode:</th>
      <td>
        <select id="game_mode" name="game_mode" required>
          <option value="" disabled selected>Select a Game Mode</option>
          {% for mode in game_modes %}
            <option value="{{ mode.id }}" {% if mode.id == selected_mode_id %}selected{% endif %}>{{ mode.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th>Number of Beavers:</th>
      <td>
        <input type="number" id="number_of_beavers" name="number_of_beavers" required value="{{ number_of_beavers }}"/>
      </td>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>Proportion of foods</th>
    </tr>
    <tr>
      <th>Carrots:</th>
      <td><input type="checkbox" id="carrots" name="carrots" {% if carrots_selected %}checked{% endif %} /></td>
      <td>
        <input type="number" id="carrots_food_ratio" name="carrots_food_ratio" required 
        value="1"/>
      </td>
    </tr>
    <tr>
      <th>Bread:</th>
      <td><input type="checkbox" id="bread" name="bread" {% if bread_selected %}checked{% endif %} /></td>
      <td>
        <input type="number" id="bread_food_ratio" name="bread_food_ratio" required 
        value="1"/>
      </td>
    </tr>
  </table>
  <br />
  <button type="submit">Start Simulation</button>
</form>

{% if submitted %}
<h2>Results</h2>
{% endif %}

{% if required_carrot_crops is not None or required_wheat_crops is not None %}
<table class="styled-table" style="width:400px">
    {% if required_carrot_crops is not None %}
    <tr>
        <th>Number of carrot crops required:</th>
        <td>{{ required_carrot_crops }}</td>
    </tr>
    {% endif %} 
    {% if required_wheat_crops is not None %}
    <tr>
        <th>Number of wheat crops required:</th>
        <td>{{ required_wheat_crops }}</td>
    </tr>
    {% endif %}
</table>
{% endif %}


{% endblock %}


