{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}Settings Hub{% endblock %}

{% block content %}
<h2>Modify Game Mode: {{ game_mode.name }}</h2>
    <table class="styled-table">
        <tr>
            <th>Name</th>
            <th>Food Consumption (%)</th>
            <th>Food Consumption (daily unit)</th>
            <th>Locked</th>
        </tr>
        <tr>
            <td>{{ game_mode.name }}</td>
            <td>{{ game_mode.food_consumption_percentage }} %</td>
            <td>{{ game_mode.food_consumption_daily_unit }}</td>
            <td>{{ game_mode.locked }}</td>
        </tr>
    </table>

    <br>
    <form method="post">
        {% csrf_token %}
        <table class="styled-table" style="width:500px">
            <tr>
                <th>Name</th>
                <td>{{ form.name.errors }} {{ form.name }}</td>
            </tr>
            <tr>
                <th>Food Consumption (%)</th>
                <td>{{ form.food_consumption_percentage.errors }} {{ form.food_consumption_percentage }}</td>
            </tr>
            <tr>
                <th>Food Consumption (daily unit)</th>
                <td>{{ form.food_consumption_daily_unit.errors }} {{ form.food_consumption_daily_unit }}</td>
            </tr>
            <tr>
                <th>{{form.locked.label_tag}}</th>
                <td>{{ form.locked.errors }} {{ form.locked }}</td>
            </tr>
        </table>
        <button type="submit">Save Changes</button>
    </form>
    <br>

{% endblock %}

{% block script %}
<script>
    // Get existing data from the page
    var existingName = "{{ game_mode.name }}";
    var existingPercentage = "{{ game_mode.food_consumption_percentage }}";
    var existingDailyUnit = "{{ game_mode.food_consumption_daily_unit }}";
    
    // Fill up the form fields
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("#id_name").value = existingName;
        document.querySelector("#id_food_consumption_percentage").value = existingPercentage;
        document.querySelector("#id_food_consumption_daily_unit").value = existingDailyUnit;
    });
</script>
{% endblock %}
    
    

    