{% extends "base.html" %}

{% block content %}
<h1>Natural Structure Categories</h1>
<a href="{% url 'nat_struct_cat_create' %}" class="btn btn-primary">Create New</a>
<br><br>
<table class="styled-table" style="width: 400px">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for category in nat_struct_categories %}
            <tr>
                <td style="display: flex; justify-content: space-around;">
                    <a href="{% url 'nat_struct_cat_update' category.pk %}" class="btn update-button">Update</a>
                    <form method="post" action="{% url 'nat_struct_cat_delete' category.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn delete-button">Delete</button>
                    </form>
                </td>
                <td>{{ category.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
