{% extends 'base.html' %}

{% comment %} {% load static %} {% endcomment %}
{% comment %} <head>
    <link rel="stylesheet" type="text/css" href="{% static 'crops_optimizer/styles.css' %}">
</head> {% endcomment %}

{% block title %}Settings Hub{% endblock %}

{% block content %}
<!-- Your specific content for this page -->
<h1>Settings Hub</h1>
<p>Here you can change the data for settings including game mode / difficulty</p>
<form method="post">
    {% csrf_token %}
    <table class="styled-table" style="width:400px">
        <tr>
            <th>{{ form.name.label_tag }}</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <th>{{ form.food_consumption_percentage.label_tag }}</td>
            <td>{{ form.food_consumption_percentage }}</td>
        </tr>
        <tr>
            <th>{{ form.food_consumption_daily_unit.label_tag }}</td>
            <td>{{ form.food_consumption_daily_unit }}</td>
        </tr>
        <tr>
            <th>{{ form.locked.label_tag }}</td>
            <td>{{ form.locked }}</td>
        </tr>
    </table>
    <button type="submit">Create</button>
</form>



<h2>Existing Game Modes</h2>
<table class="styled-table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Food Consumption (%)</th>
            <th>Food Consumption (daily unit)</th>
            <th>Locked</th>
        </tr>
    </thead>
    <tbody>
        {% for game_mode in existing_game_modes %}
        <tr>
            <td>
                <form method="post" action="{% url 'modify_game_mode' game_mode.id %}">
                    {% csrf_token %}
                    <button type="submit">Modify</button>
                </form>
            </td>
            <td>
                <form method="post" action="{% url 'delete_game_mode' %}">
                    {% csrf_token %}
                    <input type="hidden" name="game_mode_id" value="{{ game_mode.id }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td><b>{{ game_mode.name }}</b></td>
            <td>{{ game_mode.food_consumption_percentage }} %</td>
            <td>{{ game_mode.food_consumption_daily_unit }}</td>
            <td>{{ game_mode.locked }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}

